/*
 * Global styling
 */

html {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Fira Sans', Arial, sans-serif;

    color: black;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 20px;
    clear: both;

    font-weight: 400;
    word-wrap: break-word;
}

h1 {
	font-size: 50px;
	line-height: 58px;
}
h2 {
	font-size: 36px;
	line-height: 44px;
}
h3 {
	font-size: 28px;
	line-height: 36px;
}


p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

img {
    max-width: 100%;
}
